<!Doctype HTML>

<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body>
<script>
    function changelocation(destination){
        //top is referring to parent window
        top.location.href=destination;
    }
</script>

<div id="top-bar" style="margin-left:20%; margin-right:20%;" >
    <table >
        <tr>
            <td id="logo-middle" onclick="changelocation('../index.html')">
                <table>
                    <tr>
                        <td>
                            <img src="../pics/logo.svg" width="150em" height="auto">
                        </td>
                        <td>
                            <button>
                                <h1>Van Autrui</h1>
                            </button>

                        </td>
                    </tr>
                </table>
            </td>
            <td >
                <button onclick="changelocation('../services.html')"><h4>Our Service</h4></button>
            </td>
            <td onclick="changelocation('../team.html')">
                <button ><h4>Our Team</h4></button>
            </td>
            <td onclick="changelocation('../workwithus.html')">
                <button ><h4>Jobs</h4></button>
            </td>
            <td onclick="changelocation('../datenschutz_und_impressum.html')">
                <button ><h4>Datenschutz, Impressum</h4></button>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
