<!Doctype HTML>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body>
    <!-- the tools we use, their logos -->
    <div id="display" style="text-align:center;" class="contentbox">
        <h3>The Tools and Frameworks that we use </h3>

        <!-- maven -->
        <img class="toolimage" src="https://maven.apache.org/images/maven-logo-black-on-white.png">

        <!--java-->
        <img class="toolimage" src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Flh3.googleusercontent.com%2FHvR-MKlFckEL7KesQ5GtMlyLqIGvcXz8-maI8fWzYryTy8QcTLbnKC0X7AkSF_E8Ew%3Dw300&f=1">

        <!--spark-->
        <img class="toolimage" src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2F7%2F7a%2FSpark_Java_Logo.png&f=1">

        <!--spring boot-->
        <img class="toolimage" src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.fxA7gY5RmVh0bRYrxuOuWAHaD4%26pid%3D15.1&f=1">

        <!-- h2 database

        <img class="toolimage" src="http://h2database.com/html/images/h2-logo-2.png">
        -->


        <!--haskell-->
        <img class="toolimage" src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.informatica.us.es%2Fimages%2Ficagenda%2Fagenda%2Fhaskell-logo.png&f=1">

        <!--apache-server-->
        <img class="toolimage" src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2F3.bp.blogspot.com%2F-5yNDaalYQo4%2FUzVL9q2AyqI%2FAAAAAAAAALA%2F_glKAEP8mBc%2Fs1600%2Fapache318x260.png&f=1">

        <!-- html5 -->
        <img class="toolimage" src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Ffiles.softicons.com%2Fdownload%2Fsystem-icons%2Fwindows-8-metro-icons-by-dakirby309%2Fpng%2F512x512%2FApplications%2FHTML5.png&f=1">

        <!-- css3 -->
        <img class="toolimage" src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2F2.bp.blogspot.com%2F-p-UlOT9fI9g%2FWCwwxGAEWbI%2FAAAAAAAAADw%2FK8BpZbk8L2UQTXOnJIQOZddELeV-3YAvgCPcB%2Fs1600%2Flogo-css3.jpg&f=1">

        <!-- javascript -->
        <img class="toolimage" src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.OX0OBo7I9sgkvMLIzSHHJwHaHa%26pid%3D15.1&f=1">

        <!-- openstreetmap-->
        <img class="toolimage" src="https://raw.githubusercontent.com/sigon426/RepoList/gh-pages/blog/blog_images/osm-logo.png">

        <!-- leaflet openstreetmap library -->
        <img class="toolimage" src="https://leafletjs.com/docs/images/logo.png">

        <!-- git -->
        <img class="toolimage" src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2F2.bp.blogspot.com%2F-K-AymbZtJjE%2FV_p5NZ0-U_I%2FAAAAAAAAED0%2F6nTSpMcasHMryoan9p0vSwqSpH0bBU-9ACLcB%2Fs1600%2Fgit-logo.png&f=1">

        <!-- github -->
        <img class="toolimage" src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.2gD5c6D3issQr1wLj-2LGwHaDt%26pid%3D15.1&f=1">

        <!-- atom -->
        <img class="toolimage" src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fseeklogo.com%2Fimages%2FA%2Fatom-logo-19BD90FF87-seeklogo.com.png&f=1">

        <!-- linux -->
        <img class="toolimage" src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.baerIevH9ibE2liwjzjBygHaHa%26pid%3D15.1&f=1">

        <!-- lubuntu distribution -->
        <img class="toolimage" src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2Fb%2Fb7%2FLubuntu.svg%2F600px-Lubuntu.svg.png&f=1">

        <!-- firefox browser-->
        <img class="toolimage" src="https://www.mozilla.org/media/img/logos/firefox/logo-quantum.9c5e96634f92.png">

        <!-- c language -->
        <img class="toolimage" src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2F3%2F35%2FThe_C_Programming_Language_logo.svg%2F1200px-The_C_Programming_Language_logo.svg.png&f=1">
    </div>

</body>
</html>