body {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}

.bg-custom-dark{
	background-color: #014421;
}

.bg-custom-light{
	background-color:#005227;
}

.fg-custom{
	color:#F9AE1A;

}

.perkicon{
	height: 4vmax;
	width: auto;

}

.toolimage{
    height:6em;
	width: auto;
    padding: 0.1em 0.1em 0.1em 0.1em;
}

.profilepic{
	height:19em;
	width:19em;
        border-radius: 1px;

	object-fit: cover;
	overflow: hidden;
}

.teamcard{
    width:17em;
}
