body {
	color:rgb(0, 51, 153);
	font-size: 20px;
	font-family:verdana;
}

p {
	
}

h1{
	text-align:center;
}

hr{
	color:red;
}

.section{
	text-align:center;

	background-color:#ff8080;
	opacity:0.9;
}
.section:hover{
	opacity:1.0;
}
