body {
	color:black;
	font-size: 20px;
	font-family:verdana;

	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
}


.Dropbar ul{
	list-style: none;
	color: white;
	position: relative;
    display: inline-block;
}

.Dropbar ul li{
	background-color:#ff7080;
	opacity: 0.8;
	float: left;
	width: 200px;
	height: 40px;

	opacity: 0.8;
	line-height:40px;
	text-align: center;
    font-size: 20px;
	margin-right: 20px;
}

.Dropbarul li ul li{
	display: none;
}

.Dropbar ul li a{
	text-decoration: none;
	color: white;
	display: block;
}

.Dropbar ul li a:hover {
	background-color: white;
	color: black;
}

.Dropbar ul li ul li{
	display: none;
}

ul li:hover ul li{
	display: block;

}

h1{
	text-align:center;
}

hr{
	color:red;
}

.section{
	box-shadow: 8px 8px 5px grey;
	padding:5px;
	margin:15px;	
	display:inline-block;
	text-align:block;
	
	background-color:rgba(204, 0, 153,0.6);
	opacity:0.9;
	
	border-left-style:solid;
	border-color:rgb(0, 51, 153);
	border-width:5px;
	border-radius:5px;
}

.section:hover{
	opacity:1.0;
}

//the language classes and the typewriter class must be present if the other is present

.german{
	display:block;
}

.english{
	display:none;
}
