body {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}

.bg-custom-dark{
	background-color: #014421;
}

.bg-custom-light{
	background-color:#005227;
}

.fg-custom{
	color:#F9AE1A;

}

.toolimage{
    height:4em;
		width: auto;
    padding: 0.1em 0.1em 0.1em 0.1em;
}

.profilepic{
	width:300px;
	height:auto;
  border-radius: 8px;
}
