body {
	color:black;
	font-size: 20px;
	font-family:verdana;
	background-color:rgb(1, 68, 33);

	display:flex;
	flex-wrap:wrap;

}

nav {
	border-left-style:solid;
	border-color:rgb(249, 166, 2);
	border-width:5px;
	border-radius:10px;
}
.Dropbar ul{
	list-style: none;
	color: white;
	position: relative;
    	display: inline-block;
}

.Dropbar ul li{
	background-color:rgb(1, 68, 33);
	opacity: 0.8;
	float: left;
	width: 200px;
	height: 40px;

	opacity: 0.8;
	line-height:40px;
	text-align: left;
    	font-size: 20px;
	margin-right: 10px;
}

.Dropbar ul li ul li{
	display: none;
}

.Dropbar ul li a{
	text-decoration: none;
	color: white;
	display: block;
}

.Dropbar ul li a:hover {
	background-color: white;
	color: black;
}

.Dropbar ul li ul li{
	display: none;
}

ul li:hover ul li{
	display: block;

}

h1{
	text-align:center;
}

hr{
	color:#ffb4b4;
}

.personprofile {
	
	padding:5px;
	margin:15px;	
	display:inline-block;
	text-align:block;
	
	background-color:rgb(0, 128, 42);
	opacity:0.9;
	border-width:5px;
	border-radius:5px;

	line-height:0.8;
	font-size:10;
}

.profilepic{
	width:300px;
	height:auto;
	display:flex;
	
}

@keyframes colorcycle{
	0%{background-color:grey; color:blue;}
	50%{background-color:grey; color:black;}
	100%{background-color:grey; color:blue;}
}

.section{
	box-shadow: 8px 8px 5px rgb(71, 127, 97);
	padding:5px;
	margin:15px;	
	display:inline-block;
	text-align:block;
	

	background-color:rgb(11, 140, 72);

	opacity:0.9;
	
	border-left-style:solid;
	border-color:rgb(249, 166, 2);
	border-width:5px;
	border-radius:5px;
	
}

.section:hover{
	opacity:0.7;
}

//the language classes and the typewriter class must be present if the other is present

.german{
	display:block;
}

.english{
	display:none;
}

h1 {
	color:rgb(249, 166, 2);
}
h2 {
	color:rgb(249, 166, 2);
}
h3 {
	color:rgb(249, 166, 2);
}
h4 {
	color:rgb(249, 166, 2);
}
